<!-- <h1>Angular Application</h1> -->
<!-- <app-demo></app-demo> -->
<!-- <app-demo></app-demo>
<app-demo></app-demo> -->
<!-- <app-product></app-product> -->
<!-- <app-product></app-product>
<app-product></app-product> -->
<!-- <main class="container-fluid">
  <app-card color="dark">
    <p class="mb-0">{{ currentDate | date: "full" }}</p>
  </app-card>
  <app-currency (selected)="updateCurrency($event)"></app-currency>
  <app-product-list [currentCurrency]="selectedCurrency"></app-product-list>
</main> -->
<!-- <app-employee-list></app-employee-list> -->
<!-- <app-template-driven></app-template-driven>
  <app-model-driven></app-model-driven>
  <app-linkedin-form></app-linkedin-form> -->
<app-header>
  <app-currency></app-currency>
</app-header>
<main class="container-fluid">
  <!-- MAIN CONTENT -->
  <router-outlet></router-outlet>
</main>
<app-footer></app-footer>
